* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(220, 220, 220, 1);
}

h1 {
  text-align: center;
  background: none;
  font-size: 2.5em;
  margin: 1em 0 0 0;
  font-family: "Courier New", Courier, monospace;
}

footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 3px;
  color: black;
}

.mainContainer {
  width: 305px;
  height: 305px;
  border-radius: 10px;
}

#container {
  position: relative;
  margin: 50px auto;
  background-color: white;
  border: outset;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.piece {
  width: 90px;
  height: 90px;
  position: absolute;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 4.5em;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  line-height: 90px;
  box-shadow: 0px 0px 10px rgba(41, 40, 40, 0.1);
}

.piece:hover {
  border: inset;
}
